@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Gloria+Hallelujah&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-gloria: "Gloria Hallelujah", cursive;
  --font-borel: "Borel", cursive;
  --font-playfair: "Playfair Display", serif;
  --font-bebas: "Bebas Neue", sans-serif;
}
body {
  opacity: 0;
  animation: fadeInBody 0.5s ease-in-out forwards;
}

@keyframes fadeInBody {
  to {
    opacity: 1;
  }
}

/* utility classes */
.button-hug {
  color: white;
  background: #ff0051;
  padding: 0.5rem 0.75em;
  font-size: 1rem;
  border-radius: 16px;
  height: fit-content;
  transition:
    background 0.2s ease-in-out,
    color 0.1s ease-in-out;
}
.button-hug-donate {
  color: white;
  background: #ff0051;
  padding: 0.35rem 0.8rem;
  font-size: 1rem;
  border-radius: 16px;
  height: fit-content;
  transition:
    background 0.2s ease-in-out,
    color 0.1s ease-in-out;
}
.button-hug:hover {
  color: white;
  background: #ff2b6e;
  cursor: pointer;
}
.button-hug:active,
.button-hug-donate:active {
  color: #ff2b6e;
  background: white;
  cursor: pointer;
}
.slider-title {
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.8),
    4px 4px 8px rgba(0, 0, 0, 0.6),
    6px 6px 12px rgba(0, 0, 0, 0.4);
}
.bottom-overlay {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.78) 69%,
    rgba(255, 255, 255, 0) 100%
  );
}
.top-overlay {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.swiper .swiper-pagination-bullet {
  background-color: #818181;
  opacity: 0.8;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
  opacity: 1;
}
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* awards marquee */
.slider {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider::before,
.slider::after {
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slide-track {
  display: flex;
  justify-content: flex-start;
  width: max-content;
  animation: scroll 45s linear infinite;
}

.swiper-slide {
  flex: 0 0 auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.swiper-button-prev,
.swiper-button-next {
  height: 100% !important;
  width: 7.5rem !important;
  opacity: 0 !important;
  color: #00303f !important;
  transition: opacity 0.3s ease-in-out !important;
  display: none !important;
}

.swiper-button-prev {
  left: -1rem !important;
  top: 0 !important;
  margin: 0 !important;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
}

.swiper-button-next {
  right: -1rem !important;
  margin: 0 !important;
  top: 0 !important;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0)
  );
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1 !important;
}
@media (min-width: 1024px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
  }
}
